<h1>Last news</h1>

<% @sources.each do |source| %>
  <% @news = source.news.latest %>
  <h1><%= source.title %></h1>
  <%= render 'news/entry' %>
  <p><%= link_to "All news from #{source.title}", source %></p>
<% end %>