<footer>
  <div class="copyright">
    &copy; <%= Time.now.year %> <%= link_to "News Portal", "#" %>
  </div>
  <nav>
    <ul>
      <li><%= link_to "About", "#" %></li>
      <li><%= link_to "Contact", "#" %></li>
    </ul>
  </nav>
</footer>
